@import url("../../css/import.css");

/*  */

.temperature-superleghe img {
    height: 4rem;
}

.temperature-superleghe {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.temperature-superleghe div {
    padding: 1rem;
}

.temperature-superleghe div section {
    height: 15rem;
    width: 15rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.temperature-superleghe section:nth-of-type(1) div section span {
    background-color: var(--500-blue);
}

.temperature-superleghe section:nth-of-type(2) div section span {
    background-color: red;
}

.temperature-superleghe section div section span {
    background-color: red;
    height: 50%;
    width: 50%;
    border-radius: 100%;
}

.temperature-superleghe section>div {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
}

.freddo-atomi span {
    transition: all 0.1s ease-in;
    position: relative;
    top: var(--cool);
    left: var(--cool)
}

.caldo-atomi span {
    transition: all 0.2s ease-in;
    position: relative;
    top: var(--hot);
    left: var(--hot);
}

.dettaglio-foto-card {
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 7rem;
    border-radius: 1rem;
    width: 10rem !important;
    height: 10rem !important;
    opacity: 0;
}

.temperature-superleghe div:hover~.dettaglio-foto-card {
    opacity: 1 !important;
    bottom: -11rem;
    transform: scale(1.5);
}