@import url("../../css/import.css");

/*  */

html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    transition: all 0.5s cubic-bezier(.5, .5, .5, 1.5);
}

::selection {
    background: goldenrod;
    color: white;
}

.full-container {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    box-sizing: border-box;
    overflow: hidden;
}

.descrizione-metalli {
    background: linear-gradient(to top, var(--50-blue), var(--50-blue), var(--50-blue), var(--50-blue), var(--50-blue), var(--50-blue), white)
}

.descrizione-metalli,
.investimento-ricerca {
    padding: 0.5rem;
    display: grid;
    place-items: center;
    font-size: 1.2rem;
    gap: 1rem;
}

.descrizione-metalli img,
.investimento-ricerca img {
    height: 7rem;
}

.descrizione-metalli div,
.investimento-ricerca div {
    display: flex;
    align-items: center;
    justify-items: center;
    border: 3px solid var(--100-blue);
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 0;
    transition: all 0.5s ease-in-out;
    width: 80vw;
    gap: 1rem;
}

.descrizione-metalli div:hover,
.investimento-ricerca div:hover {
    background-color: var(--100-blue);
    border-color: var(--500-blue);
    color: var(--white);
    box-shadow: var(--500-shadow);
    opacity: 1 !important;
}

.descrizione-metalli div,
.investimento-ricerca div {
    opacity: 0.3;
}

.descrizione-metalli>*,
.investimento-ricerca>* {
    position: relative;
}

.esempi-aziende-container {
    display: flex;
    width: 81vw;
    gap: 1rem;
}

.esempi-aziende-container>div {
    flex: 1;
    display: grid;
    place-items: center;
    padding: 1rem;
}

.esempi-aziende-container>div:hover {
    flex: 5;
}

.esempi-aziende-container img {
    height: 4rem;
}