@import url("./import.css");

/**/

* {
    transition: all 0.5s cubic-bezier(.5, .5, .5, 1.5);
}

body {
    background-color: var(--50-blue);
    font-family: poppins;
    margin: 5rem;
}

a {
    text-decoration: none;
    color: var(--200-blue);
    height: 100%;
    width: 100%;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    width: 100%;
}

.container div {
    background-color: var(--0-white);
    display: grid;
    place-items: center;
    font-size: 2rem;
    flex: 1;
    padding: 4rem 0;
    border-radius: 1rem;
    box-shadow: var(--200-shadow);
    transform: translatey(calc(var(--i)*-25%));
    border: 1px solid var(--50-blue);
}

.container div:hover {
    box-shadow: var(--500-shadow);
    z-index: 2;
    margin: 5rem 0;
    transform: scale(1.1) rotate(2deg) translatey(calc(var(--i)*-25%));
    background-color: var(--300-blue);
    border: 1px solid transparent;
}

.container div:hover a {
    color: var(--0-white);
}