@font-face {
    font-family: 'supercell-magic';
    src: url("https://clashroyale.com/blog-assets/fonts/supercell-magic.eot");
    src: url("https://clashroyale.com/blog-assets/fonts/supercell-magic.eot?#iefix") format("embedded-opentype"), url("https://clashroyale.com/blog-assets/fonts/supercell-magic.woff") format("woff"), url("https://clashroyale.com/blog-assets/fonts/supercell-magic.ttf") format("truetype"), url("https://clashroyale.com/blog-assets/fonts/supercell-magic.svg#supercell-magicregular") format("svg");
    font-weight: normal;
    font-style: normal;
}